html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
} 
header{
  font-family: 'Comfortaa',sans-serif;
}
body::-webkit-scrollbar {
  width: 4px; 
}

body::-webkit-scrollbar-track {
  background: #1C1C1C;  
}

body::-webkit-scrollbar-thumb {
  background-color: #00ccff;
  border: none;
}
@font-face{
  font-family: 'Comfortaa';
  src: url('./Fonts/Comfortaa-VariableFont_wght.ttf');
} 
.HomePage {
  text-align: center;
}
.titulopg {
  font-family: 'Comfortaa';
font-size: 1.5cm;
text-align: start;
margin-left: 1cm;
margin-top: 1cm;
}
.Menupg {
  z-index: 10000;
  position: fixed;
  padding: 0;
  width: 100%;
  background-color: #031134;
  height: 1.8cm;
  background:  linear-gradient( 120deg, #000a17, #00000d);
}
.Menupg-titulo{
  min-width: 20%;
  width: 20%;
  margin: 0.2cm;
  margin-left: 1cm;
  float: left;
}
.Menupg ul {
  max-width: 90%;
  height: 1cm;
  padding: 0;
  list-style: none;
  float: right;
  margin: 0;
}
.Menupg ul li {
  display: inline;

}

.menubotoes {
  margin-right: 1.5cm;
}
.menulogo{
  float: left;
  width: 1.8cm;
  margin-left: 0.2cm;
}
.Menupg ul li a {
  padding-top: 0.5cm;
  padding-right: 0.2cm;
  padding-left: 0.2cm;
  display: inline-block;
  text-decoration: none;
  color: white;
}
.Menupg ul li a:hover{
  color: #585858;
  text-decoration: none;
}
.Menupg h1{
  float: left;
  text-align: left;
  margin-top: 0.2cm;
  margin-left: 10px;
}
.Destaquepg ul {
  text-align: left;
  margin-top: 10px;
}
.Destaquepg ul li{
  text-align: left;
  margin-top: 20px;
}
.Destaquepg {
  z-index: 2;
  width: 78%;
  float: left;
  background: #010013da;
  margin: 1%;
  min-height: 13cm;
  padding: 10%;
  padding-top: 3%;
  border-radius: 5px;
  box-shadow:         0px 5px 7px #00000070;
}
.foto {
  position: relative;
  z-index:3;
  display:inline-block;
  width: 95%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 5px 7px #00000070;
}
.About-icone {
  padding: 0.3cm;
  width: 1cm;
  height: 1cm;
  vertical-align: middle;
  border-radius: 10px;
}
#Artigopg {
  background:  linear-gradient( #000a17, #00051c, #000215, #00000d ); 
  min-height: 140cm;
  height: relative;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.stars {
  z-index: 1;
  position: relative;
  float: left;
    width: 3px;
    height: 3px;
  width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 550px 70px white,
  1200px 40px white,
  900px 40px white,
  1300px 80px white,
  800px 60px white,
  600px 6px white,
  420px 10px white,
  200px 50px white,
  150px 100px white,
  1100px 150px white,
  250px 130px white,
  700px 200px white,
  1400px 20px white,
  320px 100px white,
  1000px 70px white,
  500px 120px white,
  900px 40px white,
  1200px 40px white,
  80px 120px white,
  1500px 10px white,
  600px 6px white,
  380px 80px white,
  800px 60px white,
  700px 200px white,
  150px 100px white,
  1100px 150px white,
  250px 130px white,
  420px 10px white,
  1400px 20px white,
  320px 100px white,
  900px 40px white,
  550px 70px white,
  1500px 10px white,
  200px 50px white,
  380px 80px white,
  80px 120px white,
  1300px 80px white,
  500px 120px white,
  600px 6px white,
  900px 40px white,
  150px 100px white,
  700px 200px white,
  800px 60px white,
  1200px 40px white,
  1400px 20px white,
  250px 130px white,
  320px 100px white,
  1100px 150px white,
  380px 80px white,
  1200px 1500px white,
  500px 768px white,
  1500px 1875px white,
  800px 1283px white,
  150px 256px white,
  700px 1366px white,
  900px 1646px white,
  250px 375px white,
  420px 564px white,
  1000px 1759px white,
  1500px 1297px white,
  1400px 1825px white,
  600px 963px white,
  900px 1285px white,
  80px 1683px white,
  380px 779px white,
  320px 1991px white,
  550px 1536px white,
  200px 1442px white,
  900px 874px white,
  700px 1311px white,
  1300px 1501px white,
  150px 499px white,
  1400px 1922px white,
  600px 1262px white,
  800px 572px white,
  1100px 1254px white,
  380px 1977px white,
  420px 1098px white,
  250px 1568px white,
  1200px 1539px white,
  80px 1308px white,
  1500px 1301px white,
  1100px 1512px white,
  500px 430px white,
  1300px 1984px white,
  700px 1914px white,
  800px 287px white,
  200px 1682px white,
  150px 541px white,
  900px 922px white,
  1500px 1702px white,
  420px 1545px white,
  600px 789px white,
  320px 567px white,
  1400px 1924px white,
  900px 13px white,
  250px 1807px white,
  150px 1169px white,
  800px 1471px white,
  1000px 70px white;
  animation: anim-stars 30s linear infinite;
}
.stars::after{
  content: " ";
  position: absolute;
  top: 150px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 1300px 80px white,
  550px 70px white,
  900px 40px white,
  1500px 10px white,
  800px 60px white,
  250px 130px white,
  1200px 40px white,
  420px 10px white,
  1100px 150px white,
  1400px 20px white,
  150px 100px white,
  700px 200px white,
  320px 100px white,
  500px 120px white,
  80px 120px white,
  600px 6px white,
  900px 40px white,
  200px 50px white,
  380px 80px white,
  1000px 70px white,
  700px 200px white,
  150px 100px white,
  800px 60px white,
  420px 10px white,
  1200px 40px white,
  250px 130px white,
  600px 6px white,
  1400px 20px white,
  550px 70px white,
  320px 100px white,
  380px 80px white,
  1500px 10px white,
  900px 40px white,
  1100px 150px white,
  500px 120px white,
  80px 120px white,
  1300px 80px white,
  700px 200px white,
  800px 60px white,
  200px 50px white,
  150px 100px white,
  420px 10px white,
  600px 6px white,
  320px 100px white,
  1400px 20px white,
  900px 40px white,
  250px 130px white,
  1300px 479px white,
  800px 1935px white,
  550px 1241px white,
  250px 1594px white,
  1200px 873px white,
  900px 932px white,
  600px 1239px white,
  420px 78px white,
  1100px 1754px white,
  1500px 1329px white,
  1400px 1916px white,
  150px 712px white,
  700px 1016px white,
  320px 1769px white,
  900px 1994px white,
  80px 1837px white,
  380px 1836px white,
  1000px 782px white,
  1500px 381px white,
  200px 1544px white,
  700px 956px white,
  1300px 1772px white,
  550px 1601px white,
  800px 1289px white,
  600px 742px white,
  420px 1101px white,
  150px 1701px white,
  1200px 362px white,
  380px 1112px white,
  500px 1491px white,
  1400px 1928px white,
  80px 1465px white,
  1500px 1234px white,
  1100px 369px white,
  900px 1583px white,
  1300px 535px white,
  200px 1487px white,
  800px 682px white,
  320px 1194px white,
  150px 1955px white,
  420px 1864px white,
  900px 43px white,
  1500px 1792px white,
  600px 14px white,
  700px 1716px white,
  380px 1007px white,
  250px 1157px white,
  1200px 1930px white,
  500px 1373px white,
  800px 120px white,
  380px 80px white,
  1100px 150px white,
  1000px 70px white;
}
.stars2 {
  position: relative;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 1100px 1527px white,
  320px 1669px white,
  1724px 1693px white,
1088px 134px white,
1471px 1173px white,
348px 249px white,
994px 1970px white,
1125px 506px white,
137px 389px white,
627px 1292px white,
806px 1257px white,
1235px 1572px white,
1342px 1308px white,
1590px 1175px white,
1252px 896px white,
1603px 1223px white,
987px 583px white,
1097px 1539px white,
251px 1180px white,
1548px 1046px white,
147px 723px white,
889px 1066px white,
1001px 1394px white,
1796px 95px white,
672px 27px white,
1013px 114px white,
12px 1972px white,
433px 1615px white,
593px 1980px white,
1906px 1082px white,
161px 822px white,
879px 1440px white,
570px 82px white,
480px 297px white,
1260px 1530px white,
1384px 834px white,
839px 311px white,
47px 775px white,
1831px 1834px white,
1408px 127px white,
1987px 1682px white,
699px 76px white,
1565px 1217px white,
744px 1401px white,
1527px 1951px white,
1067px 1351px white,
1020px 773px white,
1285px 470px white,
863px 276px white,
936px 529px white,
1700px 197px white,
1189px 1423px white,
138px 925px white,
1090px 1026px white,
387px 52px white,
568px 422px white,
142px 614px white,
485px 169px white,
895px 1383px white,
1678px 1653px white,
1994px 112px white,
1575px 581px white,
1187px 1344px white,
563px 1709px white,
783px 1267px white,
323px 497px white,
1543px 255px white,
1788px 998px white,
288px 505px white,
1953px 1469px white,
92px 1847px white,
953px 453px white,
680px 972px white,
104px 515px white,
1295px 1118px white,
1199px 875px white,
161px 1503px white,
1349px 125px white,
1145px 1131px white,
1693px 1849px white,
1512px 1162px white,
153px 473px white,
1121px 1135px white,
43px 937px white,
761px 1553px white,
526px 267px white,
696px 977px white,
1727px 759px white,
1497px 1125px white,
1476px 1752px white,
791px 334px white,
1px 1345px white,
1991px 1944px white,
1611px 1403px white,
140px 1734px white,
1072px 1547px white,
994px 439px white,
1458px 1781px white;
  animation: anim-stars 35s linear infinite;
}
.stars2::after{
  content: " ";
  position: absolute;
  top: 150px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 534px 679px white,
  1472px 1011px white,
  853px 684px white,
  1347px 1124px white,
  1919px 253px white,
  588px 1140px white,
  1398px 473px white,
  317px 1313px white,
  880px 752px white,
  194px 1224px white,
  957px 819px white,
  1572px 1373px white,
  92px 832px white,
  1521px 1532px white,
  1984px 477px white,
  874px 937px white,
  1048px 1335px white,
  29px 422px white,
  1646px 1326px white,
  907px 1192px white,
  387px 114px white,
  1174px 446px white,
  1675px 752px white,
  1629px 442px white,
  547px 1256px white,
  1258px 345px white,
  1008px 29px white,
  1030px 996px white,
  1232px 1963px white,
  288px 1463px white,
  891px 540px white,
  320px 776px white,
  1419px 1345px white,
  682px 987px white,
  1712px 1502px white,
  1478px 581px white,
  1162px 1696px white,
  1687px 1720px white,
  1060px 1567px white,
  405px 234px white,
  1454px 264px white,
  303px 1437px white,
  1666px 1337px white,
  1197px 1211px white,
  734px 1433px white,
  722px 1393px white,
  1321px 1307px white,
  607px 1957px white,
  1545px 82px white,
  371px 1740px white,
  250px 1301px white,
  1807px 229px white,
  760px 1144px white,
  356px 77px white,
  1414px 74px white,
  1461px 1180px white,
  24px 906px white,
  1172px 1212px white,
  1728px 831px white,
  1281px 1927px white,
  80px 228px white,
  480px 1357px white,
  1113px 131px white,
  906px 670px white,
  1337px 1331px white,
  760px 1027px white,
  695px 41px white,
  958px 448px white,
  1573px 1890px white,
  241px 1777px white,
  628px 665px white,
  1955px 27px white,
  1508px 289px white,
  1835px 759px white,
  1151px 1240px white,
  621px 726px white,
  987px 1056px white,
  1768px 480px white,
  1367px 617px white,
  1115px 1021px white,
  1989px 1801px white,
  1385px 1260px white,
  553px 150px white,
  1296px 201px white,
  1543px 791px white,
  81px 1594px white,
  1138px 1352px white,
  1439px 641px white,
  82px 1438px white,
  1114px 1097px white,
  1266px 1522px white,
  200px 1984px white,
  1654px 662px white,
  135px 462px white,
  978px 1590px white,
  61px 1991px white,
  844px 1047px white,
  1199px 798px white;
}

@keyframes anim-stars {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-250px);
  }
}
.About-link {
  padding-right: 0.3cm;
  color: #368cfd;
  float: right;
  text-decoration: none;
}
.About-redes a:hover {
  color: #585858;
}
#Projects {
  font-family: 'Comfortaa';
  padding-top: 0.1cm;
  color: white;
  min-height: 25cm;
  justify-content: center;
  background:  linear-gradient( #00000d , #003366, #005387, #0072a6, #0092c7, #00b3e8, #4acfff, #a7e0ff);
  font-size: calc(10px + 2vmin);
}
a{
  text-decoration: none;
  color: white;
}
.Project-block1 {
  background: url('./Images/not1.png');
  margin-left: 2.5%;
  margin-top: 1cm;
  width: 30%;
  background-size: cover;
  height: 8cm;
  float: left;
  border-radius: 10px;

}
.Project-block2 {
  background: url('./Images/2.png');
  margin-left: 2.5%;
  margin-top: 1cm;
  width: 30%;
  height: 8cm;
  float: left;
  border-radius: 10px;
}
.Project-block3{
  background: url('./Images/3.png');
  margin-left: 2.5%;
  margin-top: 1cm;
  width: 30%;
  height: 8cm;
  float: left;
  border-radius: 10px;
}
.Project-block4 {
  background: url('./Images/4.png');
  margin-left: 2.5%;
  margin-top: 1cm;
  width: 30%;
  height: 8cm;
  float: left;
  border-radius: 10px;
}
.Project-block5 {
  background: url('./Images/5.png');
  margin-left: 2.5%;
  margin-top: 1cm;
  width: 30%;
  height: 8cm;
  float: left;
  border-radius: 10px;
}
.Project-block6 {
  background: url('./Images/6.png');
  margin-left: 2.5%;
  margin-top: 1cm;
  width: 30%;
  height: 8cm;
  float: left;
  border-radius: 10px;
}
.Project-block1, .Project-block2, .Project-block3, .Project-block4, .Project-block5, .Project-block6{
  position: relative;
  display: inline-block;
  opacity: 0.9;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.Project-block1:after, .Project-block2:after, .Project-block3:after, .Project-block4:after, .Project-block5:after, .Project-block6:after {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.Project-block1:hover, .Project-block2:hover, .Project-block3:hover, .Project-block4:hover, .Project-block5:hover, .Project-block6:hover{
  opacity: 1;
  transform: scale(117%) ;
  z-index: 1;
}
.Project-block1:hover::after, .Project-block2:hover::after, .Project-block3:hover::after, .Project-block4:hover::after, .Project-block5:hover::after, .Project-block6:hover::after{
  opacity: 1;
}
.botao-visitar{
  display: inline-block;
  opacity: 0.5;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.botao-visitar:after {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.botao-visitar:hover{
  opacity: 1;
  transform: scale(115%) ;
  
}
.botao-visitar:hover::after{
  opacity: 1;
}
#Sobre{
  z-index: 3;
  position: relative;
  color: white;
  padding: 0.01cm;
  height: 25cm;
  background: #0a0a0a;
  font-size: calc(10px + 2vmin);
}
.paragrafopg {
  text-align:justify;
  font-size:0.6cm;
}
@media screen and (max-width: 768px) {
  .About-group-redes, .About-group-desc{
    max-width: 100%;
    width: 90%;
    padding: 2.5%;
    margin: 2.5%;

  }
  #Artigopg {
    min-height: 75cm;
    height: relative;
  }
  #Artigopg ul li{
    font-size:small;
  }
  #Artigopg h2{
    font-size:medium;
  }
  #Sobre {
  height: 17cm;
  }
  .paragrafopg {
    text-align:justify;
    font-size:small;
  }
  .Menupg{
    margin-top: -2em;
    justify-content: center;
    height: 3cm;
  }
  .titulopg {
    margin-top: 2.5cm;
    font-size: larger;
  }
}
@media screen and 
(max-width: 600px) {
  .About-group-redes, .About-group-desc{
    max-width: 100%;
    width: 90%;
    min-height: 12cm;
    padding: 2.5%;
    margin: 2.5%;
  }
  .Menupg ul li {
    display: inline;
      margin-right: 0;
      font-size: medium;

  }
  .menu ul {
    max-width: 100%;
    width: 100%;
    
  }
  .Menupg{
    margin-top: 0em;
      justify-content: center;
      height: 3cm;
  }
  .Menupg h1 {
      margin-top: 0.5cm;
      font-size: larger;
  }
  .Menupg-titulo{
    min-width: 0%;
    width: 0%;
  }
  .menubotoes {
    width: 80%;
    margin-left: 5%;
  }
}
